

/*ALL*/
body, table, input, textarea {
	font-family: 'TheanoDidot-Regular', 'Lora', 'Suranna', 'Prata', serif;
	font-size: 11pt;
}

section {
	height: 100vh; /* Make every section fills up the whole viewport*/
	overflow-y:hidden;
}

button, .button,
input[type="submit"] {
	font-size: 0.7rem;
	/*text-transform: none !important;*/
	border-radius: 0px !important;
	box-shadow: none;
	font-family: 'TheanoDidot-Regular', 'Lora', 'Suranna', 'Prata' !important;
}

input[type="text"],
input[type="password"],
textarea {
	border-radius: 0 !important;
}

input[type="number"] {
	-moz-appearance: textfield;
	padding-left: 8px;
	width: 60px;
}

.numInput::-webkit-outer-spin-button,
.numInput::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #fe4902;	
	box-shadow: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	box-shadow: none;
	color: #fe4902 !important;
	transition: color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out box-shadow 0.2s ease-in-out;
}
strong {
	font-weight: 700;
}

table {
	margin: 0 0 1rem;
}


table tbody tr:nth-child(2n + 1) {
	background-color: transparent !important;
}

table tfoot {
	border-top-color: #999;
}

#wrapper {
	scroll-behavior: 
}


.knus {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
}

.button {
	border: 1px solid #000 !important;
	box-shadow: none;
}

.button.big {
	font-size: 0.8rem;
}

.button.small {
	font-size: 0.6rem;
	border-color: #555 !important;
}

.bold {	
	font-weight: 700;
}

a:hover,
.clickable:hover {
	color: #fe4902 !important;
	cursor:pointer;
}

.button:hover {
	/*color: #000 !important;*/
	text-decoration: none;
	box-shadow: none;
	color: #fe4902 !important;
	border: 1px solid #fe4902 !important;
	background-color: transparent;
	transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.hide {
	display: none;
}



:focus {
	outline: none !important;
	box-shadow: none;
}

.modal {
	z-index: 9999;
}

.modal-content {
	border-radius: 0;
}

.modal-header h4 {
	margin-top: 1rem;
	margin-bottom: 0;
}

.row {
	width: 100%;
	justify-content: center;
	margin: 0;
}


/*NAV BAR*/
.navbar {
	border:none;
	background: transparent;
	/*background: rgba(0,0,0,0.1);
	background: -webkit-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: -o-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: -moz-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: -ms-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: linear-gradient(rgba(0,0,0,0.1), transparent);*/
	padding: 0 1rem;
	position: fixed;
	top:0;
	display:block;
	width: 100%;
	z-index: 999;
	font-size: 14pt !important;
}

.navbar-inner {
	height: 100%;
}

.navbar-inner ul {
	list-style: none;
	margin: 0;
	height: 100%;
}

.navbar-inner ul li {
	float: right;
	height: 100%;
	padding-top: 0.5em;
}

.navbar-inner ul li a {
	padding: 0.5em 1em;
	height: 100%;
	text-decoration: none;
	box-shadow: none;
	color: #fff;
	/*color: rgba(255, 255, 255, 0.8) !important;*/
	/*transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;*/

}

.navbar-inner ul li a:hover,
.navbar-inner ul li a:focus,
#logo a:hover {
	color: #fe6123 !important;
	/*transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;*/
}

#logo a {
	float: left;
	height: 100%;
	padding: 0.5em 1em;
	color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 25;
}


.navbar.dark {
    background: #fff;
    z-index: 20;
}

.navbar.dark .navbar-inner ul li a,
.navbar.dark #logo a {
    color: #333;
}

/*Wrapper*/
.wrapper {
	min-height: 100%;
	box-shadow: none !important;
	padding: 50px;

}

.wrapper .content {
	padding: 2rem 1rem
}


/*BANNER*/
#banner {
	max-width: 100%;
	width: 100%;
	background-image: url(../images/banner3.jpg);
	background-size: cover;
	height:100vh;
	justify-content: center;
}

#banner .content {
	text-align: center;
	padding: 1rem; /* Uniform padding for better position calculation */
	position: relative;
	background: rgba(255, 255, 255, 0.45);
	/*border: 2px solid #333;*/
	min-width: 22rem;
	min-height: 35%;
	height: 45%;
	width: 36%;
	justify-content: center;
	z-index: 20;
}

#banner .content h1 {
	margin: 0.5em 0;
}

#banner .content p {
	margin-bottom: 1em;
}

#banner .button {
	background-color: transparent;
	margin: 0 auto;
	margin-bottom: 1rem;
	/*position: absolute;
	bottom: 7em;
	left: calc(50% - 105px);*/
}

#banner .input[type="text"]:focus,
#banner .input[type="submit"]:focus {
	border-color: #999;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.4);
}

#banner .content ul {
	margin-bottom: 1rem;
}


/*INTRODUCTION*/

#mobile-nav-btn {
	display: none;
	float: right;
}

#hamburger {
	max-height: 3rem;
	margin-top: 0.25rem;
}

#mobile-nav {
	list-style: none;
	background: rgba(0,0,0,0.8);
	display: none;
	height: auto;
	text-align: left;
	position: absolute;
	right: 0.5em;
	padding: 0.5em;
	width: 10rem;
	margin-top: 3rem;
	color: #fe4902;
}

#mobile-nav a {
	text-decoration: none;
	font-size: 1.1rem;
	color: #fff;
}


/*TRUCK*/
#truck-slidey {
	position: fixed;
	min-width: 15rem;
	right: -15rem;
	top: 7rem;
	background: #fff;
	/*-webkit-transition-duration: 0.3s;*/
}

#truck-slidey.on {
	right: 0;
}

#truck {
	position: fixed;
	right: 0.5rem;
	/*top: 0;*/
	/*-webkit-transition-duration: 0.3s;*/
	top: 7rem;
	z-index: 999;
	padding: 1rem;
	font-size:1.5rem;
	cursor: pointer;
}

.notif {
	background-color: #fe4902;
	height: 0.75rem;
	width: 0.75rem;
	max-width: 0.75rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 0.5rem;
	position: absolute;
	top: 1rem;
	left: 2rem;
	padding: 0 0.25rem;
}

/*FOOTER*/

footer .inner {
	color: #666;
	padding: 2em 0 0 0 !important;
}

/*GENERAL*/

.close {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
}

.close:hover {
	color: red;
}

.half {
	width: 50%;
	float:left;
	margin-top: 3em;
}

.right {
	float: right;
}

.left {
	float: left;
}

.red {
	color: red;
}

.vert-align td {
	vertical-align: middle;
}

.container {
	padding-top: 8rem;
}

#banner .content {
    max-height: 700px;
    padding: 2rem 3rem;
    min-width: 18rem;
    height: auto;
    min-height: auto;
    max-width: 50%;
}

#updateModal .modal-dialog {
    margin: auto;
    top: 20%;
}

.modal-dialog {
    top: 30%;
    min-width: 30%;
}

#errorModal .modal-dialog {
    top: 37.5%;
}

.modal-content {
    text-align: center;
    padding: 2rem 3rem;
}


@media screen and (orientation: portrait) {

    .mobile-hide {
        display: none;
    }

    #mobile-nav-btn {
        display: block;
    }

    #banner .content {
        top: 0;
        padding: 2rem 3rem 1rem;
        width: 60%;
        max-height: 600px;
    }

    .field {
        width: 100% !important;
        padding: 0;
    }
}